<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Queues</title>
    <meta name="description" content="Job queues, message queues and other queues. Almost all of them.">
    <meta name="keywords" content="queue, job queue, work queue, message queue, <%= projects.collect{ |k, v| k }.join(", ") %>">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="wrapper">
      <a href="https://github.com/strzalek/queues.io"><img class="github-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <header id="heading">
        <h1>Queues</h1>
        <sub>Job queues, message queues and other queues. Almost all of them.</sub>
      </header>

      <article id="about">
        <header>
          <h2>About</h2>
        </header>
        <p>
          There're many queueing systems out there, each one of them is
          different and was created for solving certain problems. This page
          tries to collect most of libraries that are widely popular and have
          successful records of running on (big) production systems.
        </p>
        <p>
          The goal is to create a quality list of queues with a collection of
          articles, blog posts, slides and videos about each, along with a short
          summary describing pros and cons, motivation behind creating it,
          potential uses and how the library works under the hood. All of the
          informations you would need when you'll face problem of choosing a
          solution that will suit your needs best.
        </p>
        <p>
          Whole site is <%=link_to "open sourced",
          "https://github.com/strzalek/queues.io" %> and edited on daily basis.
          If you find any mistakes or something missing, feel free to post an
          issue or send a pull request. All contributions are welcome! Thanks.
        </p>
      </article>

      <article id="projects">
        <header>
          <h2>Projects</h2>
        </header>

        <dl>
          <% projects.each do |symbol, project| %>
            <dt class="clearfix">
              <span><%= project["name"] %> <a href="<%= project["url"] %>"><%= project["url"] %></a></span>

              <% if !project["tags"].nil? %>
                <ul class="tags">
                  <% project["tags"].each do |tag| %>
                    <li><%= tag %></li>
                  <% end %>
                </ul>
              <% end %>
            </dt>
            <dd class="<%= symbol %>">
              <p><%= project["summary"] %></p>
              <ul class="links">
                <% project["links"].each do |link| %>
                  <li>
                    <%= link_to(link["text"], link["url"]) %>
                  </li>
                <% end %>
              </ul>
            </dd>
          <% end %>
        </dl>
      </article>

      <footer>
        by <%= link_to "@strzalek", "https://github.com/strzalek" %>
      </footer>
    </div>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script> -->
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-42761629-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
