<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Queues</title>
    <meta name="description" content="Job queues, message queues and other queues. Almost all of them.">
    <meta name="keywords" content="queue, job queue, work queue, message queue, <%= projects.collect{ |k, v| k }.join(", ") %>">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="wrapper">
      <a href="https://github.com/strzalek/queues.io"><img class="github-ribbon" src="/img/github_ribbon.png" alt="Fork me on GitHub"></a>
      <header id="heading">
        <h1>Queues</h1>
        <sub>Job queues, message queues and other queues. Almost all of them.</sub>
      </header>

      <article id="about">
        <header>
          <h2>About</h2>
        </header>
        <p>
          There are many queueing systems out there. Each one of them is different
          and was created for solving certain problems. This page tries to
          collect the libraries that are widely popular and have a successful
          record of running on (big) production systems.
        </p>
        <p>
          The goal is to create a quality list of queues with a collection of
          articles, blog posts, slides, and videos about them. After reading the
          linked articles, you should have a good idea about: the pros and cons
          of each queue, a basic understanding of how the queue works, and 
          what each queue is trying to achieve. Basically, you should have
          all the information you need to decide which queue will best fit your
          needs.
        </p>
        <p>
          The whole site is <%=link_to "open source",
          "https://github.com/strzalek/queues.io" %> and is edited on a daily basis.
          If you find any mistakes or see something missing, feel free to post an issue
          or send a pull request. All contributions are welcome! Thanks.
        </p>
      </article>

      <article id="projects">
        <header>
          <h2>Projects</h2>
        </header>

        <dl>
          <% projects.each do |symbol, project| %>
            <dt class="clearfix">
              <span class="title">
                <a name="<%= symbol %>" href="#<%= symbol %>" class="project_name"><%= project["name"] %></a>
                <a href="<%= project["url"] %>" class="project_url"><%= project["url"] %></a>
              </span>

              <% if !project["tags"].nil? %>
                <ul class="tags">
                  <% project["tags"].each do |tag| %>
                    <li><%= tag %></li>
                  <% end %>
                </ul>
              <% end %>
            </dt>
            <dd>
              <p><%= project["summary"] %></p>
              <% if !project["description"].nil? %>
                <ul class="desc">
                  <% project["description"].each do |point| %>
                    <li><%= point %></li>
                  <% end %>
                </ul>
              <% end %>

              <h3>Resources</h3>

              <ul class="links">
                <% project["links"].each do |link| %>
                  <li>
                    <%= link_to(link["text"], link["url"]) %>
                    <span class="host"><%= url_host(link["url"]) %></span>
                  </li>
                <% end %>
              </ul>
            </dd>
          <% end %>
        </dl>
      </article>

      <footer>
        by <%= link_to "@strzalek", "https://github.com/strzalek" %>
      </footer>
    </div>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script> -->
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-42761629-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
